*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-white);
}

.main-container {
  width: 100%;
  overflow-x: hidden;
}

/*--------------buttons------------*/

.link {
  text-decoration: none;
  outline: none;
}

.btn {
  height: 2.5rem;
  padding: 0rem 1.1rem;
  border-radius: 0.3rem;
  outline: none;
  font-size: 0.85rem;
  font-weight: 500;
  font-family: var(--secondary-font);
  cursor: pointer;
}

.btn-primary {
  border: 0px solid black;
  background-color: var(--secondary-blue);
  color: var(--primary-white);
  transition: var(--button-transitions-out);
  -webkit-transition: var(--button-transitions-out);
  -moz-transition: var(--button-transitions-out);
  cursor: pointer;
}

.btn-secondary {
  border: 0.1rem solid var(--primary-green);
  color: var(--primary-green);
  background-color: var(--primary-white);
  margin-left: 2rem;
  transition: var(--button-transitions-out);
  -webkit-transition: var(--button-transitions-out);
  -moz-transition: var(--button-transitions-out);
  cursor: pointer;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-secondary:hover,
.btn-secondary:focus {
  transition: var(--button-transitions-in);
  -webkit-transition: var(--button-transitions-in);
  -moz-transition: var(--button-transitions-in);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--tertiary-blue);
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--primary-green);
  color: var(--primary-white);
}

/*--------------------- HEADER -------------------*/

.header {
  width: 100%;

  position: relative;
}

/*--------------NAVBAR-------------*/

.navbar {
  background-color: var(--primary-white);
  width: 100%;
  padding: 0 1rem;
  height: 7vh;
  position: fixed;
  top: 0;
  left: 0;
}

.filler {
  height: 7vh;
}

.navbar__logo {
  max-width: 8rem;
  margin-left: -1.2rem;
}

.fa-bars,
.fa-user,
.fa-times {
  font-size: 1.3rem;
  color: var(--primary-blue);
}

.fa-times {
  font-size: 1.65rem;
}

.fa-user-alt {
  color: var(--tertiary-grey);
  font-size: 1.5rem;
  background-color: var(--primary-white);
  padding: 0.6rem;
  border-radius: 3rem;
}

.navbar__menu,
.navbar__user {
  align-items: center;
  justify-content: flex-start;
  background-color: var(--primary-white);
  position: absolute;
  margin-top: 7vh;
  width: 60%;
  height: 100vh;
  transition: 0.6s transform ease-out;
}

.navbar__menu {
  top: 0;
  left: 0;
  transform: translateX(-200%);
}

.navbar__user {
  top: 0;
  right: 0;
  transform: translateX(200%);
}

.navbar__guest__container {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  /* text-align: left; */
  padding: 1rem;
  background: var(--tertiary-blue);
  background: linear-gradient(
    0deg,
    rgba(54, 103, 151, 1) 0%,
    /* rgba(30, 75, 119, 1) 61%, */ rgba(24, 58, 92, 1) 100%
  );
}

.guest__p {
  color: var(--primary-white);
  font-family: var(--tertiary-font);
  padding: 0.6rem 0rem 0rem 0.2rem;
  font-weight: 400;
  font-size: 0.9rem;
  opacity: 0.8;
}

.guest__p-modifier {
  font-weight: 500;
  opacity: 1;
}

.guest__username {
  color: var(--primary-white);
  font-family: var(--tertiary-font);
  padding: 0.2rem 0rem 0rem 0.2rem;
  font-weight: 400;
  font-size: 0.8rem;
  opacity: 0.6;
}

.menu__items,
.user__menu__items {
  width: 100%;
  text-align: center;
  list-style: none;
  border-bottom: 0.0001rem solid rgba(128, 128, 128, 0.171);
}

.menu__items,
.user__menu__items {
  padding: 1.3rem 0rem;
}

.menu__items:nth-child(3),
.user__menu__items:nth-child(3) {
  border-bottom: 0rem solid rgba(128, 128, 128, 0);
}

.menu__links {
  text-decoration: none;
  color: var(--primary-blue);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
}

.user__log__text {
  display: flex;
  justify-content: flex-start;
  width: 7rem;
  padding-left: 1rem;
}

.fa-sign-in-alt {
  font-size: 1.1rem;
  color: var(--secondary-blue);
}

.fa-key {
  font-size: 1.1rem;
  color: var(--secondary-blue);
}

#navbar__checkbox,
#user__checkbox {
  display: none;
}

.navbar__bars {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1.7rem;
}

.navbar__bars > i:nth-child(2) {
  display: none;
}

#navbar__checkbox:checked ~ .navbar__menu {
  transform: translateX(0%);
  transition: 0.2s all ease-in;
  box-shadow: 200px 7px 0px 7px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 200px 7px 0px 7px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 200px 7px 0px 7px rgba(0, 0, 0, 0.41);
}
#user__checkbox:checked ~ .navbar__user {
  transform: translateX(0%);
  transition: 0.2s all ease-in;
  box-shadow: -200px 7px 0px 7px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: -200px 7px 0px 7px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: -200px 7px 0px 7px rgba(0, 0, 0, 0.41);
}

#navbar__checkbox:checked ~ .navbar__bars > .fa-bars {
  display: none;
}

#navbar__checkbox:checked ~ .navbar__bars > .fa-times {
  display: block;
}

/*--------------Hero-------------*/

.hero {
  width: 100%;
  /* height: 93vh; */
}
.hero__img {
  background-size: cover;
  /* height: 23rem; */
  height: 55vh;
  background-position-x: center;
  background-position-y: bottom;
  width: 100%;
  background-image: url(./img/Imagen-hero.jpg);
}

.hero-slogan__container {
  background-color: var(--primary-white);
  width: 100%;
  /* height: 38vh; */
  justify-content: center;
  padding-left: 1rem;
  justify-content: flex-start;
  padding-top: 0.5rem;
  padding-bottom: 3rem;
  -webkit-box-shadow: -2.5px -19px 3px 5px var(--primary-white);
  -moz-box-shadow: -2.5px -19px 3px 5px var(--primary-white);
  box-shadow: -1px -19px 3px 5px var(--primary-white);

  /* margin-top: -3rem; */
  /* padding-top: 1rem; */
}

.hero__slogan-up {
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--primary-blue);
  font-size: 3rem;
  text-transform: uppercase;
}

.hero__slogan-down {
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--primary-green);
  font-size: 2.1rem;
  text-transform: uppercase;
  line-height: 2rem;
  padding-bottom: 2rem;
}

.button__container {
  display: flex;
  width: 100%;
  /* background-color: green; */
  justify-content: flex-start;
}

/*--------------------------Main-----------------------------*/
.main {
  width: 100%;
  padding: 1rem 0rem 0rem 0rem;
}

/*---------------------About Us-------------------*/

.about__us {
  background-color: var(--secondary-grey);
  width: 100%;
  padding: 2.3rem 0rem;
  height: auto;
  -webkit-box-shadow: 1px -19px 15px 15px var(--secondary-grey);
  -moz-box-shadow: 1px -19px 15px 15px var(--secondary-grey);
  box-shadow: 1px -19px 51px 15px var(--secondary-grey);
}

.about__us-description {
  padding-top: 1rem;
  width: 100%;
  padding-bottom: 2rem;
}
.description__title {
  font-family: var(--primary-font);
  color: var(--primary-blue);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.2rem;
}

.description__content {
  font-family: var(--tertiary-font);
  color: var(--primary-black);
  font-size: 1rem;
  line-height: 1.8rem;
  margin-left: -0.3rem;
}

.services__container {
  /* background-color: red; */
  width: 100%;
}

.services__card {
  width: 100%;
  /* background-color: royalblue; */
  /* padding-top: 1rem; */
}

.services__circle {
  width: 9rem;
  height: 9rem;
  background: rgb(54, 103, 151);
  background: linear-gradient(
    0deg,
    rgba(54, 103, 151, 1) 0%,
    rgba(30, 75, 119, 1) 61%,
    rgba(24, 58, 92, 1) 100%
  );
  border-radius: 50%;
}

.fa-ambulance {
  color: var(--primary-white);
  font-size: 3rem;
  padding-left: 0.2rem;
  padding-top: 0.2rem;
}

.fa-notes-medical,
.fa-briefcase-medical {
  color: var(--primary-white);
  font-size: 3.5rem;
}

.fa-stethoscope {
  color: var(--primary-white);
  font-size: 3.5rem;
  padding-top: 0.3rem;
  padding-left: 0.2rem;
}

.services__description {
  font-size: var(--tertiary-font);
  color: var(--primary-black);
  padding-top: 0.5rem;
  width: 25%;
  line-height: 1.2rem;
  text-align: center;
}

.services__underscore {
  width: 40%;
  /* padding-top: 0.5rem; */
  height: 0.1rem;
  margin: 0.5rem 0rem 3rem 0rem;
  background-color: var(--primary-green);
}
/*
  transition: var(--button-transitions-out);
  -webkit-transition: var(--button-transitions-out);
  -moz-transition: var(--button-transitions-out)
    transition: var(--button-transitions-in);
  -webkit-transition: var(--button-transitions-in);
  -moz-transition: var(--button-transitions-in);
  */

/*---------------------plans-------------------*/
.plans {
  width: 100%;
  padding: 3.5rem 0rem;
  background: var(--tertiary-blue);
  background: linear-gradient(
    0deg,
    rgba(54, 103, 151, 1) 0%,
    rgba(30, 75, 119, 1) 61%,
    rgba(24, 58, 92, 1) 100%
  );
  -webkit-box-shadow: -2.5px -19px 3px 3px var(--tertiary-blue);
  -moz-box-shadow: -2.5px -19px 3px 3px var(--tertiary-blue);
  box-shadow: -2.5px -19px 3px 3px var(--tertiary-blue);
}

.plans__title {
  color: var(--primary-white);
  text-align: center;
  width: 50%;
  font-size: 2.3rem;
  font-family: var(--primary-font);
  text-transform: uppercase;
  font-weight: 600;
  line-height: 3rem;
  padding-bottom: 2rem;
}

.plans__title-modifier {
  font-weight: 700;
  color: var(--primary-green);
}

.plans__card {
  max-width: 75%;
  min-width: 75%;
  max-height: 25rem;
  min-height: 25rem;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.plans__img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.plans__description {
  width: 100%;
  min-height: 10rem;
  max-height: 10rem;
  background-color: var(--primary-white);
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  padding-left: 0.8rem;
  padding-top: 1.2rem;
  font-family: var(--primary-font);

  font-size: 1rem;
  letter-spacing: -0.5px;
}

.plans__card__title {
  font-weight: 600;
  color: var(--secondary-blue);
  padding-bottom: 0.8rem;
  text-transform: uppercase;
}

.plans__card__title-modifier {
  font-weight: 700;
}

.plans__underscore {
  width: 3.5rem;
  height: 0.1rem;
  margin-left: 0.1rem;
  background-color: var(--primary-green);
}

.plans__content {
  width: 95%;
  text-align: start;
  padding-top: 1rem;
}

.plans__text {
  width: 100%;
  font-family: var(--tertiary-font);
  font-size: 1rem;
  font-weight: 300;
  color: var(--primary-black);
}

/*--------------------- Contact-------------------*/
.contact {
  width: 100%;
  background-color: var(--primary-white);
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.141' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 14%, 99%, 1)'/><path d='M69.212 40H46.118L34.57 20 46.118 0h23.094l11.547 20zM57.665 60H34.57L23.023 40 34.57 20h23.095l11.547 20zm0-40H34.57L23.023 0 34.57-20h23.095L69.212 0zM34.57 60H11.476L-.07 40l11.547-20h23.095l11.547 20zm0-40H11.476L-.07 0l11.547-20h23.095L46.118 0zM23.023 40H-.07l-11.547-20L-.07 0h23.094L34.57 20z'  stroke-width='1' stroke='hsla(161, 27%, 60%, 0.13)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  -webkit-box-shadow: -2.5px -0.001px 3px 1px var(--primary-white);
  -moz-box-shadow: -2.5px -0.001px 3px 1px var(--primary-white);
  box-shadow: -2.5px -0.001px 3px 1px var(--primary-white);
}

.contact__form {
  width: 100%;
}
.contact__title {
  color: var(--secondary-blue);
  text-align: center;
  width: 100%;
  font-size: 2.3rem;
  font-family: var(--primary-font);
  text-transform: uppercase;
  font-weight: 600;
  line-height: 3rem;
  padding-bottom: 1.5rem;
}

.contact__input,
.contact__textarea {
  background-color: var(--primary-white);
  border: 0.05rem solid var(--secondary-blue);
  color: var(--secondary-blue);
  font-size: 1.1rem;
  font-family: var(--tertiary-text);
  width: 85%;
  border-radius: 0.3rem;
}

.contact__input {
  padding: 0.6rem;
  margin-bottom: 1rem;
}

.contact__textarea {
  padding: 0.6rem;
  min-width: 85%;
  min-height: 10rem;
  max-height: 12rem;
  margin-bottom: 2rem;
}

.submit__link {
  width: 85%;
  text-decoration: none;
}

.btn__submit {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--primary-green);
  outline: none;
  border: transparent;
  font-family: var(--secondary-font);
  color: var(--primary-white);
  border-radius: 0.3rem;
  padding: 1rem 3rem;
  transition: 0.4s all ease-out;
  cursor: pointer;
}

.contact__input::placeholder,
.contact__textarea::placeholder {
  color: var(--secondary-blue);
  font-family: var(--tertiary-text);
  font-size: 0.9rem;
  font-style: italic;
}

.contact__input:focus,
.contact__textarea:focus {
  outline: none;
}

.btn__submit:hover,
.btn__submit:focus {
  background-color: var(--tertiary-green);
  transition: 0.4s all ease-in;
}

.btn__submit:focus,
.btn-primary:focus,
.btn-secondary:focus {
  outline: none;
}

/*--------------------- Contact-------------------*/

.footer {
  width: 100%;
  background-color: var(--primary-blue);
  padding-top: 0.4rem;
  -webkit-box-shadow: -2.5px -0.01px 3px 5px var(--primary-blue);
  -moz-box-shadow: -2.5px -0.01px 3px 5px var(--primary-blue);
  box-shadow: -2.5px -0.01px 3px 5px var(--primary-blue);
}

.footer__info {
  width: 100%;
  font-weight: 300;
  font-family: var(--tertiary-font);
  font-size: 0.9rem;

  color: var(--primary-white);
  padding-bottom: 1.5rem;
}

.footer__info p {
  padding: 0.5rem 0rem 0.1rem 1rem;
}

.footer__social__container {
  background-color: var(--tertiary-blue);
  width: 100%;
  -webkit-box-shadow: -2.5px -0.01px 3px 5px var(--tertiary-blue);
  -moz-box-shadow: -2.5px -0.01px 3px 5px var(--tertiary-blue);
  box-shadow: -2.5px -0.01px 3px 5px var(--tertiary-blue);
  color: var(--primary-white);
}

.footer__media {
  width: 70%;
  font-size: 2rem;
  padding-top: 1.5rem;
}

.fa-instagram,
.fa-facebook,
.fa-whatsapp,
.fa-twitter {
  transition: var(--button-transitions-out);
  cursor: pointer;
  outline: none;
}
.fa-instagram:hover,
.fa-instagram:focus {
  color: #e225a9;
  transition: var(--button-transitions-in);
  outline: none;
}
.fa-facebook:hover,
.fa-facebook:focus {
  color: var(--secondary-blue);
  transition: var(--button-transitions-in);
  outline: none;
}
.fa-whatsapp:hover,
.fa-whatsapp:focus {
  color: #14a514;
  transition: var(--button-transitions-in);
  outline: none;
}
.fa-twitter:hover,
.fa-twitter:focus {
  color: #1789e6;
  transition: var(--button-transitions-in);
  outline: none;
}
.footer__phone {
  width: 100%;
  font-family: var(--tertiary-font);
  font-size: 0.8rem;
  padding: 1.5rem 0rem;
  text-align: center;
  font-weight: 300;
}

.footer__copyright {
  width: 100%;
  font-family: var(--primary-font);
  padding: 0.5rem 0rem;
  text-align: center;
  font-size: 0.9rem;
}

.footer__copyright-modifier {
  color: var(--primary-green);
  font-weight: 700;
}
