*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-white);
}

html {
  scroll-behavior: smooth;
}

.main-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/*--------------buttons------------*/
.button__container {
  display: flex;
  width: 90%;

  justify-content: flex-start;
}

.btn {
  padding: 0rem 0.9rem;
  border-radius: 0.3rem;
  text-decoration: none;
  outline: none;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: var(--secondary-font);
  text-align: center;
  height: 2.5rem;
}
.btn-primary {
  background-color: var(--secondary-blue);
  color: var(--primary-white);
  transition: var(--button-transitions-out);
  -webkit-transition: var(--button-transitions-out);
  -moz-transition: var(--button-transitions-out);
}

.btn-secondary {
  border: 0.1rem solid var(--primary-green);
  color: var(--primary-green);
  margin-left: 2rem;
  transition: var(--button-transitions-out);
  -webkit-transition: var(--button-transitions-out);
  -moz-transition: var(--button-transitions-out);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  transition: var(--button-transitions-in);
  -webkit-transition: var(--button-transitions-in);
  -moz-transition: var(--button-transitions-in);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: var(--tertiary-blue);
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: var(--primary-green);
  color: var(--primary-white);
}

/*--------------------- HEADER -------------------*/

.header {
  width: 100%;

  position: relative;
}

/*--------------NAVBAR-------------*/

.navbar {
  background-color: var(--primary-white);
  width: 100%;
  padding: 0 1rem;
  height: 7vh;
  position: fixed;
  top: 0;
  left: 0;
}

.filler {
  height: 7vh;
}

.navbar__logo {
  max-width: 8rem;
  margin-left: -1.2rem;
}

.fa-bars,
.fa-user,
.fa-times {
  font-size: 1.3rem;
  color: var(--primary-blue);
}

.fa-times {
  font-size: 1.65rem;
}

.navbar__menu {
  align-items: center;
  justify-content: flex-start;
  background-color: var(--primary-white);
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 7vh;
  width: 60%;
  height: 100vh;
  transform: translateX(-200%);
  transition: 0.6s transform ease-out;
}

.menu__items {
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 1.3rem 0rem;
  border-bottom: 0.0001rem solid rgba(128, 128, 128, 0.171);
}

.menu__items:nth-child(5) {
  border-bottom: 0rem solid rgba(128, 128, 128, 0);
}

.menu__links {
  text-decoration: none;
  color: var(--primary-blue);
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 1rem;
}

#navbar__checkbox {
  display: none;
}

.navbar__bars {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1.7rem;
}

.navbar__bars > i:nth-child(2) {
  display: none;
}

#navbar__checkbox:checked ~ .navbar__menu {
  transform: translateX(0%);
  transition: 0.2s all ease-in;
  box-shadow: 200px 7px 0px 7px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 200px 7px 0px 7px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 200px 7px 0px 7px rgba(0, 0, 0, 0.41);
}

#navbar__checkbox:checked ~ .navbar__bars > i:nth-child(1) {
  display: none;
}

#navbar__checkbox:checked ~ .navbar__bars > i:nth-child(2) {
  display: block;
}

/*--------------Hero-------------*/

.hero {
  width: 100%;
  padding-bottom: 3rem;
}
.hero__img {
  background-size: cover;
  height: 20rem;
  background-position-x: right;
  background-position-y: bottom;
  width: 100%;
  background-image: url(./img/Imagen-hero.jpg);
  box-shadow: 0px -37px 13px -2px var(--primary-white) inset;
  -webkit-box-shadow: 0px -37px 13px -2px var(--primary-white) inset;
  -moz-box-shadow: 0px -37px 13px -2px var(--primary-white) inset;
}

.hero-slogan__container {
  background-color: var(--primary-white);
  width: 90%;
  justify-content: center;
}

.hero__slogan-up {
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--primary-blue);
  font-size: 2.6rem;
  text-transform: uppercase;
}

.hero__slogan-down {
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--primary-green);
  font-size: 2.1rem;
  text-transform: uppercase;
  line-height: 1.5rem;
  padding-bottom: 2rem;
}

/*--------------------------Main-----------------------------*/
.main {
  width: 100%;
}

.about__us {
  background-color: var(--secondary-grey);
  width: 100%;
}
/*---------------------About Us-------------------*/

/*
  transition: var(--button-transitions-out);
  -webkit-transition: var(--button-transitions-out);
  -moz-transition: var(--button-transitions-out)
    transition: var(--button-transitions-in);
  -webkit-transition: var(--button-transitions-in);
  -moz-transition: var(--button-transitions-in);
  */

/*--------------------- ANIMATIONS-------------------*/
