*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-white);
}

.main-container {
  width: 100%;
  overflow-x: hidden;
}

/*--------------buttons------------*/
.button__container {
  display: flex;
  width: 95%;
  padding-left: 1rem;
  justify-content: flex-start;
}

.link {
  text-decoration: none;
}

.btn {
  height: 2.5rem;
  padding: 0rem 0.9rem;
  border-radius: 0.3rem;
  outline: none;
  font-size: 0.85rem;
  font-weight: 500;
  font-family: var(--secondary-font);
}

.btn-primary {
  border: 0px solid black;
  background-color: var(--secondary-blue);
  color: var(--primary-white);
  transition: var(--button-transitions-out);
  -webkit-transition: var(--button-transitions-out);
  -moz-transition: var(--button-transitions-out);
}

.btn-secondary {
  border: 0.1rem solid var(--primary-green);
  color: var(--primary-green);
  background-color: var(--primary-white);
  margin-left: 2rem;
  transition: var(--button-transitions-out);
  -webkit-transition: var(--button-transitions-out);
  -moz-transition: var(--button-transitions-out);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-secondary:hover,
.btn-secondary:focus {
  transition: var(--button-transitions-in);
  -webkit-transition: var(--button-transitions-in);
  -moz-transition: var(--button-transitions-in);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--tertiary-blue);
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--primary-green);
  color: var(--primary-white);
}

/*--------------------- HEADER -------------------*/

.header {
  width: 100%;

  position: relative;
}

/*--------------NAVBAR-------------*/

.navbar {
  background-color: var(--primary-white);
  width: 100%;
  padding: 0 1rem;
  height: 7vh;
  position: fixed;
  top: 0;
  left: 0;
}

.filler {
  height: 7vh;
}

.navbar__logo {
  max-width: 8rem;
  margin-left: -1.2rem;
}

.fa-bars,
.fa-user,
.fa-times {
  font-size: 1.3rem;
  color: var(--primary-blue);
}

.fa-times {
  font-size: 1.65rem;
}

.navbar__menu {
  align-items: center;
  justify-content: flex-start;
  background-color: var(--primary-white);
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 7vh;
  width: 60%;
  height: 100vh;
  transform: translateX(-200%);
  transition: 0.6s transform ease-out;
}

.menu__items {
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 1.3rem 0rem;
  border-bottom: 0.0001rem solid rgba(128, 128, 128, 0.171);
}

.menu__items:nth-child(5) {
  border-bottom: 0rem solid rgba(128, 128, 128, 0);
}

.menu__links {
  text-decoration: none;
  color: var(--primary-blue);
  font-family: var(--primary-font);
  font-weight: 00;
  font-size: 1rem;
}

#navbar__checkbox {
  display: none;
}

.navbar__bars {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1.7rem;
}

.navbar__bars > i:nth-child(2) {
  display: none;
}

#navbar__checkbox:checked ~ .navbar__menu {
  transform: translateX(0%);
  transition: 0.2s all ease-in;
  box-shadow: 200px 7px 0px 7px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 200px 7px 0px 7px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 200px 7px 0px 7px rgba(0, 0, 0, 0.41);
}

#navbar__checkbox:checked ~ .navbar__bars > i:nth-child(1) {
  display: none;
}

#navbar__checkbox:checked ~ .navbar__bars > i:nth-child(2) {
  display: block;
}

/*--------------Hero-------------*/

.hero {
  width: 100%;
  height: 97vh;
  box-shadow: 0px -7px 13px -2px var(--secondary-grey) inset;
  -webkit-box-shadow: 0px -7px 13px -2px var(--secondary-grey) inset;
  -moz-box-shadow: 0px -7px 13px -2px var(--secondary-grey) inset;
}
.hero__img {
  background-size: cover;
  /* height: 23rem; */
  height: 65vh;
  background-position-x: center;
  background-position-y: bottom;
  width: 100%;
  background-image: url(./img/Imagen-hero.jpg);
  box-shadow: 0px -37px 13px -2px var(--primary-white) inset;
  -webkit-box-shadow: 0px -37px 13px -2px var(--primary-white) inset;
  -moz-box-shadow: 0px -37px 13px -2px var(--primary-white) inset;
}

.hero-slogan__container {
  background-color: var(--primary-white);
  width: 95%;
  justify-content: center;
  padding-left: 1rem;
  padding-top: 1rem;
}

.hero__slogan-up {
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--primary-blue);
  font-size: 2.6rem;
  text-transform: uppercase;
}

.hero__slogan-down {
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--primary-green);
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.5rem;
  padding-bottom: 2rem;
}

/*--------------------------Main-----------------------------*/
.main {
  width: 100%;
}

/*---------------------About Us-------------------*/

.about__us {
  padding: 2.5rem 0rem;
  background-color: var(--secondary-grey);
  width: 100%;
}

.about__us-description {
  padding-top: 1rem;
  width: 100%;
  padding-bottom: 2rem;
}
.description__title {
  font-family: var(--primary-font);
  color: var(--primary-blue);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.2rem;
}

.description__content {
  font-family: var(--tertiary-font);
  color: var(--primary-black);
  font-size: 1rem;
  line-height: 1.8rem;
  margin-left: -0.3rem;
}

.services__container {
  /* background-color: red; */
  width: 100%;
}

.services__card {
  width: 100%;
  /* background-color: royalblue; */
  /* padding-top: 1rem; */
}

.services__circle {
  width: 9rem;
  height: 9rem;
  background: rgb(54, 103, 151);
  background: linear-gradient(
    0deg,
    rgba(54, 103, 151, 1) 0%,
    rgba(30, 75, 119, 1) 61%,
    rgba(24, 58, 92, 1) 100%
  );
  border-radius: 50%;
}

.fa-ambulance {
  color: var(--primary-white);
  font-size: 3rem;
  padding-left: 0.2rem;
  padding-top: 0.2rem;
}

.fa-notes-medical,
.fa-briefcase-medical {
  color: var(--primary-white);
  font-size: 3.5rem;
}

.fa-stethoscope {
  color: var(--primary-white);
  font-size: 3.5rem;
  padding-top: 0.3rem;
  padding-left: 0.2rem;
}

.services__description {
  font-size: var(--tertiary-font);
  color: var(--primary-black);
  padding-top: 0.5rem;
  width: 25%;
  line-height: 1.2rem;
  text-align: center;
}

.services__underscore {
  width: 40%;
  /* padding-top: 0.5rem; */
  height: 0.1rem;
  margin: 0.5rem 0rem 3rem 0rem;
  background-color: var(--primary-green);
}
/*
  transition: var(--button-transitions-out);
  -webkit-transition: var(--button-transitions-out);
  -moz-transition: var(--button-transitions-out)
    transition: var(--button-transitions-in);
  -webkit-transition: var(--button-transitions-in);
  -moz-transition: var(--button-transitions-in);
  */

/*---------------------plans-------------------*/
.plans {
  width: 100%;
  padding: 3.5rem 0rem;
  background: rgb(54, 103, 151);
  background: linear-gradient(
    0deg,
    rgba(54, 103, 151, 1) 0%,
    rgba(30, 75, 119, 1) 61%,
    rgba(24, 58, 92, 1) 100%
  );
  -webkit-box-shadow: -2.5px -19px 3px 3px var(--tertiary-blue);
  -moz-box-shadow: -2.5px -19px 3px 3px var(--tertiary-blue);
  box-shadow: -2.5px -19px 3px 3px var(--tertiary-blue);
}

.plans__title {
  color: var(--primary-white);
  text-align: center;
  width: 50%;
  font-size: 2.3rem;
  font-family: var(--primary-font);
  text-transform: uppercase;
  font-weight: 600;
  line-height: 3rem;
  padding-bottom: 2rem;
}

.plans__title-modifier {
  font-weight: 700;
  color: var(--primary-green);
}

.plans__card {
  max-width: 85%;
  min-width: 85%;
  max-height: 25rem;
  min-height: 25rem;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.plans__img__container {
  width: 100%;
  height: 15rem;
}

.plans__img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.plans__description {
  width: 100%;
  min-height: 10rem;
  max-height: 10rem;
  background-color: var(--primary-white);
  border-radius: 30rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  padding-left: 0.8rem;
  padding-top: 1.2rem;
  font-family: var(--primary-font);

  font-size: 0.9rem;
  letter-spacing: -0.5px;
}

.plans__card__title {
  font-weight: 600;
  color: var(--secondary-blue);
  padding-bottom: 0.8rem;
  text-transform: uppercase;
}

.plans__card__title-modifier {
  font-weight: 700;
}

.plans__underscore {
  width: 3.5rem;
  height: 0.1rem;
  margin-left: 0.1rem;
  background-color: var(--primary-green);
}

.plans__content {
  width: 95%;
  text-align: start;
  padding-top: 1rem;
}

.plans__text {
  width: 100%;
  font-family: var(--tertiary-font);
  font-size: 1rem;
  font-weight: 300;
  color: var(--primary-black);
}

/*--------------------- ANIMATIONS-------------------*/
