@media (min-width: 600px) and (max-width: 999px) {
  html {
    font-size: 18px;
  }
  #navbar__checkbox:checked ~ .navbar__menu {
    box-shadow: 350px 7px 0px 7px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 350px 7px 0px 7px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 350px 7px 0px 7px rgba(0, 0, 0, 0.41);
  }
  #user__checkbox:checked ~ .navbar__user {
    box-shadow: -350px 7px 0px 7px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: -350px 7px 0px 7px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: -350px 7px 0px 7px rgba(0, 0, 0, 0.41);
  }

  .plans__card {
    max-width: 60%;
    min-width: 60%;
    max-height: 30rem;
    min-height: 30rem;
  }
  .plans__img {
    height: 20rem;
  }
  .plans__description {
    height: 12rem;
  }
}

@media (min-width: 1000px) and (max-width: 4400px) {
  html {
    font-size: 20px;
  }

  /*-------------------Navbar------------------*/
  .fa-bars,
  .fa-user,
  .fa-times,
  label,
  .fa-bars::before,
  .fa-user::before,
  .fa-times::before,
  label::before,
  .fa-bars::after,
  .fa-user::after,
  .fa-times::after,
  label::after {
    display: none;
    pointer-events: none;
    width: 0px;
    height: 0px;
    position: absolute;
  }
  .navbar {
    height: 10vh;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
  }

  .filler {
    height: 10vh;
  }

  .navbar__menu,
  .navbar__user {
    transform: translateX(0%);
    padding: 0;
    margin: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 0;
    background-color: inherit;
  }
  .navbar__menu {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
  }

  .navbar__user {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: auto;
    align-self: flex-end;
    margin-left: 5%;
  }

  .logo__container {
    margin-left: 0rem;
    position: absolute;
    top: 0;
    left: 1rem;
  }
  .menu__items,
  .menu__links,
  .user__menu__items {
    border: transparent;
    width: auto;
    padding: 0rem 0rem;
    font-size: 0.9rem;
    height: 100%;
  }

  .menu__items {
    margin-left: 1.6rem;
  }

  .navbar__guest__container {
    display: none;
  }

  .user__menu__items {
    height: auto;
    /* padding: 0.2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu__links {
    transition: var(--button-transitions-out);
  }
  .menu__links:hover {
    color: var(--primary-green);
    transition: var(--button-transitions-in);
  }

  .user__menu__links,
  .user__menu__links-alt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    /* border: 0.1rem solid var(--primary-blue); */
  }
  .user__log__text {
    display: block;
    width: auto;
    padding-left: 0.3rem;
  }

  .user__menu__links {
    background-color: var(--primary-blue);
    color: var(--primary-white);
    font-size: 0.8rem;
    margin-right: 1rem;
    transition: var(--button-transitions-out);
  }

  .user__menu__links:hover {
    background-color: var(--tertiary-blue);
    transition: var(--button-transitions-in);
  }

  .user__menu__links-alt {
    background-color: var(--primary-white);
    color: var(--primary-green);
    font-size: 0.8rem;
    border: 0.01rem solid var(--primary-green);
    transition: var(--button-transitions-out);
  }

  .user__menu__links-alt:hover {
    background-color: var(--primary-green);
    color: var(--primary-white);
    transition: var(--button-transitions-in);
  }

  .user__menu__links-alt:hover > .fa-key {
    color: var(--primary-white);
    transition: var(--button-transitions-in);
  }

  .fa-sign-in-alt,
  .fa-key {
    font-size: 0.8rem;
  }

  .fa-sign-in-alt {
    color: var(--primary-white);
  }
  .fa-key {
    color: var(--primary-green);
  }

  /*------------------Hero-----------------*/

  .hero {
    flex-direction: row;
    height: 90vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-white);
  }

  .hero__img {
    height: 100%;
    clip-path: polygon(0 0, 100% 0%, 81% 100%, 0% 100%);
    width: 55%;
  }

  .hero-slogan__container {
    width: 45%;
    justify-content: center;
    padding-left: 1rem;
    justify-content: flex-start;
    padding-bottom: 0rem;
    -webkit-box-shadow: 0px 0px 0px 0px var(--primary-white);
    -moz-box-shadow: 0px 0px 0px 0px var(--primary-white);
    box-shadow: 0px 0px 0px 0px var(--primary-white);
  }

  @media (min-width: 1000px) and (max-width: 1279px) {
    html {
      font-size: 18px;
    }
    .hero__slogan-up {
      font-size: 2.5rem;
    }

    .hero__slogan-down {
      font-size: 1.6rem;
      padding-bottom: 1.5rem;
    }

    .hero-slogan__container {
      padding-left: 0.5rem;
    }
    .btn {
      padding: 0rem 0.8rem;

      font-size: 0.7rem;
    }

    .btn-secondary {
      margin-left: 1rem;
    }
  }

  /*---------------------about us------------------------*/
  .services__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    width: 100%;
  }

  .services__card {
    padding-top: 1rem;
    /* background-color: royalblue; */
    /* padding-top: 1rem; */
  }

  .services__description {
    font-size: var(--tertiary-font);
    color: var(--primary-black);
    padding-top: 0.5rem;
    width: 40%;
    line-height: 1.2rem;
    text-align: center;
  }

  @media (min-width: 1000px) and (max-width: 1279px) {
    .services__description {
      width: 50%;
      line-height: 1.2rem;
      text-align: center;
    }
  }

  /*---------------------Plans------------------------*/

  .plans {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .plans__title {
    width: 100%;
    padding-bottom: 2rem;
    padding-top: 3rem;
  }
  .plans__card {
    max-width: 35%;
    min-width: 35%;
    max-height: 23rem;
    min-height: 23rem;
  }

  .plans__img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }

  .plans__description {
    min-height: 8rem;
    max-height: 8rem;
    font-size: 0.7rem;
    padding-top: 0.7rem;
    font-size: 0.7rem;
  }

  @media (min-width: 1000px) and (max-width: 1200px) {
    .plans {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      height: auto;
      margin-bottom: -5rem;
      -webkit-box-shadow: -2.5px -17px 3px 3px var(--tertiary-blue);
      -moz-box-shadow: -2.5px -17px 3px 3px var(--tertiary-blue);
      box-shadow: -2.5px -17px 3px 3px var(--tertiary-blue);
    }

    .plans__title {
      width: 100%;
      padding-bottom: 7rem;
      font-size: 2rem;
    }
    .plans__card {
      max-width: 40%;
      min-width: 40%;
      max-height: 15rem;
      min-height: 15rem;
      margin-bottom: 12rem;
    }

    .plans__img {
      width: 100%;
      height: 15rem;
      object-fit: cover;
      border-radius: 0.5rem 0.5rem 0rem 0rem;
    }

    .plans__description {
      display: flex;
      flex-direction: column;
      min-height: 10rem;
      max-height: 10rem;
      /* font-size: 0.7rem; */
      padding-top: 1.5rem;
    }

    .plans__card__title {
      padding-bottom: 0.5rem;
    }

    .plans__content {
      width: 95%;
      text-align: start;
      padding-top: 0.5rem;
    }

    .plans__text {
      /* font-size: 0.7rem; */
    }
  }

  /*---------------------contact------------------------*/
  .contact {
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .contact__form {
    width: 50%;
  }

  .contact__input,
  .contact__textarea {
    font-size: 0.8rem;
  }

  .contact__input {
    margin-bottom: 0.8rem;
  }

  .contact__textarea {
    max-width: 85%;
    min-height: 8rem;
    max-height: 8rem;
  }

  .submit__link {
    width: 85%;
    text-decoration: none;
  }

  .btn__submit {
    font-size: 0.8rem;
    padding: 0.8rem 3rem;
  }

  .contact__input::placeholder,
  .contact__textarea::placeholder {
    font-size: 0.8rem;
  }
  /*---------------------footer------------------------*/
  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 300;
    font-family: var(--tertiary-font);
    font-size: 0.9rem;

    color: var(--primary-white);
    padding-bottom: 1rem;
  }

  .footer__info p {
    padding: 0.3rem 0rem 0rem 1rem;
  }

  .footer__media {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    font-size: 1.5rem;
    padding-top: 1rem;
  }

  .footer__phone {
    padding: 1rem 0rem;
    padding-bottom: 0.5rem;
  }

  .footer__copyright {
    width: 100%;
    font-family: var(--primary-font);
    padding: 0.5rem 0rem;
    text-align: center;
    font-size: 0.6rem;
  }

  .footer__copyright-modifier {
    color: var(--primary-green);
    font-weight: 700;
  }

  /***----------------login-----------------***/
  .user__hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background: var(--tertiary-blue);
    background: linear-gradient(
      0deg,
      rgba(54, 103, 151, 1) 0%,
      rgba(30, 75, 119, 1) 61%,
      rgba(24, 58, 92, 1) 100%
    );
  }

  .login__container {
    width: 70%;
    height: 90%;
    border-radius: 3rem 3rem 3rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .login__img__container {
    width: 50%;
    height: 100%;
    display: block;
    border-radius: 3rem 0rem 0rem 3rem;
  }

  .login__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 3rem 0rem 0rem 3rem;
  }

  .sign-up {
    width: 50%;
    height: 100%;
    border-radius: 0rem 3rem 3rem 0rem;
  }

  .login__form {
    width: 70%;
  }

  .login__text {
    font-size: 0.9rem;
  }

  .user__footer {
    height: 20%;
  }
  @media (min-width: 1000px) and (max-width: 1500px) {
    .login__container {
      width: 70%;
      height: 80%;
    }
  }
}
