:root {
  /*Colors*/
  --primary-blue: #1e4b77;
  --primary-green: #53a385;
  --primary-white: #fcfbfb;
  --primary-black: #1f1f1f;
  --primary-grey: #757574;
  --secondary-blue: #366797;
  --secondary-green: #7cb4a2;
  --secondary-grey: #ececec;
  --tertiary-blue: #183a5c;
  --primary-font: "Titillium Web", sans-serif;
  --secondary-font: "Arimo", sans-serif;
  --tertiary-font: "Roboto", sans-serif;
  --button-transitions-in: 0.2s all ease-in;
  --button-transitions-out: 0.2s all ease-out;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
